body{
    font-size: 12px;
    background-color:  #eeeeee;
}
a{
    color: #333;
    text-decoration: none;
}
a:hover{
    columns: #1890ff;
}
.contian{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
.left-1{
    width: 208px;
    float: left;
}
.right-4{
    width: 862px;
    float: right;
}
.clearfix::after{
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0px;
}
.clearfix{
    *zoom:1;
}
.left-1 img{
    width: 208px;
    height: 302px;
}
.left-1:hover{
    transition-timing-function: 0.5s;
    box-shadow: 50px 10px 10px 10px red none;
}
.left-1{
    margin-right: 10px;
}
.left-1.left-1:nth-last-child(1){
    margin-right: 0px;
}