/* 顶部区域
---------------------------------------------------------------- */
.top{
    height: 30px;
    background-color: #f3f3f3;
}
.info{
    float: left;
}
.topright{
    float: right;
}
.topright li{
    display: inline;
    margin-right: 20px;
}
.top .contian{
    height: 30px;
    line-height: 30px;
}
/* 头部区域
---------------------------------------------------------------- */
header{
    height: 110px;
    background-color: #ffffff;
    color: #52c41a;
    border-bottom: 1px solid #52c41a;
}
header .right-4{
    position: relative;
}
header .contian{
    height: 110px;
    line-height: 30px;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    line-height: 110px;
}
.srchbox{
    float: left;
    margin-top: 20px;
}
.srchbox #srchtext{
    width: 415px;
    height: 42px;
    box-sizing: border-box;
    border: 2px solid #52c41a;
    outline: none;
    padding: 10px;
    font-size: 16px;
}
header .srchbtn{
    display: block;
    font-size: 16px;
    background-color: #52c41a;
    width: 100px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    float: left;
    margin-top: 20px;
}
header .srchbtn:hover{
    opacity: 0.7;
}
.headlistitem{
    position: absolute;
    top: 80px;
    left: 0px;
}
.headnav li{
    font-size: 16px;
    display: inline;
    margin-right: 20px;
}
.headnav-list:active{
    color: #51c42a;
}
/* 焦点区域
---------------------------------------------------------------- */
.focus{
    height: 440px;
    background-color:#eeeeee;
    margin-top: 30px;
    margin-bottom: 30px;
}
.focus .contian{
    height: 440px;
}
.focus .left-1{
    background-color: #ffffff;
    padding-top:  20px;
    padding-bottom: 20px;
}
.focus-list{
    font-size: 16px;
    margin-left: 10px;
}
.focus-list li:hover{
    background-color:#aaa;
}
.focus-list-item{
    display: block;
    width: 200px;
    margin-top: 10px;
}
.focus-list-item span:hover{
    color: #007aff;
}
.focus .contian .right-4{
    width: 862px;
    height: 440px;
    position: relative;
}
.imgbox{
    margin-top: -50px;
}
.imgbox img{
    width: 862px;
    height: 440px;
}
.focus-btn{
    width: 55px;
    height: 50px;
    font-size: 50px;
    color: #007aff;
    line-height: 50px;
    cursor: pointer;
}
.focus-btn-left{
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -25px;
}
.focus-btn-right{
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -25px;
}
.focus-number{
    position: absolute;
    right: 45%;
    bottom: 10px;
    cursor: pointer;
}
.focus-number-list{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
    margin-left: 10px;
    display: inline-block;
}
/* 焦点区域
---------------------------------------------------------------- */
/* .hot{
    height: 300px;
} */
.hot .contian{
    height: 302px;
}
.hot .left-1{
    height: 302px;
}
.hot #hot-left-1{
    background-image: linear-gradient(#51aaeb,#51c42a);
}
.hot p{
    color: #fafafa;
    margin-top: 100px;
    text-align: center;
    font-size: 37px;
}

/* 楼层区域
---------------------------------------------------------------- */
.floor .contian{
    height: 340px;
    margin-top: 44px;
}
.floor-nva{
    margin-bottom: 16px;
    border-bottom: 2px solid #51c42a;
    color: #51c42a;
    font-size: 16px;
}
/* 底部导航区域
---------------------------------------------------------------- */
footer{
    background-color: #2f2f2f;
    margin-top: 40px;
}
footer .contian{
    height: 250px;
}
.nav-top{
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}
.nav-top li{
    margin-top: 60px;
    display: inline-block;
    margin-right: 215px;
}
.nav-top li:nth-last-child(1){
    margin-right: 0px;
}
.low-nav{
    margin-top: 65px;
    border-top: 1px solid #888888;
    padding-top: 14px;
    box-sizing: border-box;
}
.low-nav li{
    display: inline-block;
    margin-left: 23px;
    color: #888888;
}
footer p{
    margin-top: 15px;
    text-align: center;
    color: #888888;
}
footer .low-nav{
    text-align: center;
}
